.build/
.vscode/
.vs/
.idea/
snn-core-install
core/build/
core/data/assets/shaders/*.spv
core/config.txt
demo/build-test
tools/convertTool/argParser/__pycache__/
tools/convertTool/config/__pycache__/
tools/convertTool/config/formatConfig/__pycache__/
tools/convertTool/config/frameworkConfig/__pycache__/
tools/convertTool/convertProcessor/__pycache__/
tools/convertTool/convertProcessor/converters/__pycache__/
tools/convertTool/convertProcessor/processorConfig/__pycache__/
tools/convertTool/convertProcessor/processors/__pycache__/
tools/convertTool/errorProcessor/__pycache__/
tools/convertTool/errorProcessor/errorConfig/__pycache__/
tools/convertTool/errorProcessor/errors/__pycache__/
tools/convertTool/layers/__pycache__/
tools/convertTool/layers/customLayers/__pycache__/
tools/convertTool/layers/supportedLayers/__pycache__/
tools/convertTool/utils/__pycache__/

