*.iml
.gradle
.project
/local.properties
/.idea/caches
/.idea/libraries
/.idea/shelf
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/tasks.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/gradle.xml
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
.settings/
.classpath
